<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
<!-- The jQuery library is a prerequisite for all jqSuite products -->

<script type="text/ecmascript"
	src="/bower_components/jqGrid/js/i18n/grid.locale-en.js"></script>
	

<script type="text/ecmascript"
	src="/bower_components/jqGrid/js/jquery.jqGrid.js"></script>

<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- The link to the CSS that the grid needs -->
<link rel="stylesheet" type="text/css" media="screen"
	href="/bower_components/jqGrid/css/ui.jqgrid-bootstrap.css" />
	
<script>
$.jgrid.defaults.width = '100%';

	$.jgrid.defaults.styleUI = 'Bootstrap';
</script>

<meta charset="utf-8" />
<title>jqGrid Loading Data - JSON</title>
</head>
<body>
<div style="margin-left:20px">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {

							$("#jqGrid")
									.jqGrid(
											{
												url : 'profiles/',
												datatype : "json",
												colModel : [

														{
															name : 'first',
															label:'First Name',
															search : true,
															stype : 'text',
															 width: 200,
															jsonmap : "name.first",
															formatter : function(
																	cellvalue) {
																return cellvalue
															}
														},
														{
															name : 'middle',
															label:'Middle Name',
															search : true,
															stype : 'text',
															 width: 100,
															jsonmap : "name.middle",
															formatter : function(
																	cellvalue) {
																return cellvalue
															}
														},
														{
															name : 'last',
															label:'Last Name',
															search : true,
															stype : 'text',
															jsonmap : "name.last",
															formatter : function(
																	cellvalue) {
																return cellvalue
															}
														},	{
															name : 'active',
															index : 'active',
															label:'Active',
															align : 'center',
															search : false,
															formatter : 'checkbox',
															editoptions : {
																value : '1:0'
															},
															formatoptions : {
																disabled : false
															},
														},

														{
															name : 'blocked',
															index : 'blocked',
															label:'Blocked',
															align : 'center',
															search : false,
															formatter : 'checkbox',
															editoptions : {
																value : '1:0'
															},
															formatoptions : {
																disabled : false
															},
														},
														{
															name : 'view',
													
															search : false,
															stype : 'href',
															jsonmap : "id",
															formatter : function(
																	cellvalue) {
																return '<a href="/view_profile?&profileId='
																		+ cellvalue
																		+ '" class="btn btn-info" role="button">View Entire Profile</a>'
															}
														}

												],
												viewrecords : true, // 
									
												rowNum : 100,
												loadonce : true, //
											    autowidth:true,
											    height: window.innerHeight*.70,
												pager : "#jqGridPager"
											});
							
							
							$("#jqGrid").jqGrid('filterToolbar', {
								stringResult : true,
								searchOnEnter : false
							});
						});
	</script>


</body>

</html>