	if(retNote==null){
			return new ModelAndView("index");

		}<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<title>Inspect Contact</title>


</head>
<body>
	<div class="container">


		<h2
			th:text="${profile.name.first} + ' ' +${profile.name.middle}+ ' ' +${profile.name.last}"></h2>


		<div>
			<form class="form-horizontal">


				<div class="form-group">
					<label class="col-sm-2 control-label">Photo</label>
					<div class="col-sm-10">
						<img th:src="${profile.picture}">
					</div>

				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Id</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${profile.id}">Id</p>
					</div>
				</div>
				<label class="col-sm-2 control-label">Profile</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.profile}">profile</p>
				</div>


				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.email}">Email</p>
				</div>

				<label class="col-sm-2 control-label">Phone</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.phone}">Phone</p>
				</div>

				<label class="col-sm-2 control-label">Address</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.address}">address</p>
				</div>


				<label class="col-sm-2 control-label">Age</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.age}">Age</p>
				</div>


				<label class="col-sm-2 control-label">Address</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${profile.balance}">Balance</p>
				</div>
		</div>

		</form>

	</div>

	</div>

</body>
</html>